html.page-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/background/dark.jpeg');
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  /*background: linear-gradient( #1abc9c, transparent), linear-gradient( 90deg, skyblue, transparent), linear-gradient( -90deg, coral, transparent);*/
  /*background-blend-mode: screen;*/
  
  /*background: linear-gradient(to left, #5f2c82, #49a09d);*/
}

@font-face {
  font-family: "Courgette-Regular";
  src: url("/fonts/Courgette-Regular.woff2") format("woff2"),
       url("/fonts/Courgette-Regular.woff") format("woff"),
       url("/fonts/Courgette-Regular.ttf") format("truetype"),
       url("/fonts/Courgette-Regular.eot") format("embedded-opentype"),
       url("/fonts/Courgette-Regular.svg") format("svg"),
       url("/fonts/Courgette-Regular.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}